[Unit]
Description= openethereum full node
After=network.target

[Service]
# run as root, set base_path in openethereum.toml
ExecStart={{ openethereum_path }} --base-path={{ openethereum_datadir }} --chain mainnet --pruning fast --jsonrpc-apis=all --jsonrpc-threads=16 --jsonrpc-server-threads=16  --no-persistent-txqueue --cache-size 1024 --min-peers 100 --max-peers 200 --ws-interface={{ openethereum_ws_interface }} --jsonrpc-interface={{ openethereum_jsonrpc_interface }} -l info --log-file {{ openethereum_datadir }}/openethereum.log
Restart=on-failure

# Specifies which signal to use when killing a service. Defaults to SIGTERM.
# SIGHUP gives parity time to exit cleanly before SIGKILL (default 90s)
KillSignal=SIGHUP

[Install]
WantedBy=default.target
